.switcher {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.button {
  background-color: transparent;
  color: var(--text-color);
  border: 1px solid var(--text-color);
  padding: 0.25rem 0.75rem;
  border-radius: 999px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  background-color: var(--text-color);
  color: var(--primary);
}

.active {
  background-color: var(--text-color);
  color: var(--primary);
  font-weight: bold;
}
