@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --primary: #fdbbc3;       /* Rose pastel (amour et bienveillance 💗) */
  --text-color: #fff;       /* Texte blanc pour contraste clair */
  --accent: #e0f2ff;        /* Doux bleu clair (complément parfait 💙) */
  --deep: #2b2b2b;          /* Noir doux pour titres */
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: var(--primary);
}

a {
  text-decoration: none;
}

.leaflet-container {
  z-index: 1 !important;
  position: relative !important;
}